<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make a post</title>
    {% load static %}
    {% load bootstrap4 %}
    <link rel="stylesheet" type="text/css" href="{% static "css/defaults.css" %}">
</head>
<body>
<div class="header">
    {% include "includes/header_bar.html" %}
</div>
<div class="body">
    <div class="form_container">
        <div>
            <h2>Make a post</h2>
        </div>
        <div class="form-group alert-danger">
                {{ form.non_field_errors }}
        </div>
        <form enctype="multipart/form-data" class="standard_form" method="post" action="{% url "posting-make-a-post" %}">
            {% csrf_token %}
            {# Loop through and wrap them in the form row divs #}

            {% for field in form %}
                {% if field.name == "image" %}
                    {# For the image special rendering is required. Cause its images and HTML lol #}
                    <div class="custom-file">
                        {{ field }}
                        <label class="custom-file-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    </div>
                {% else %}
                    {% bootstrap_field field %}
                {% endif %}
            {% endfor %}

            <button class="btn btn-primary form_btn" type="submit">Post</button>


        </form>
    </div>
</div>
</body>
</html>