<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members portal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "auth_system/login_portal.css" %}" />
</head>
<body>
<div class="header">
    {% include "includes/header_bar.html" %}
</div>
<div class="body">
    <div class="form_container">
        <h2>Login to the Impact website</h2>
        <form class="standard_form login_form" action="{% url "auth_system-login_portal" %}" method="post">
            {% csrf_token %}
            {{ login_form.non_field_errors }}
            <div class="standard_form_row">
                {{ login_form.username.errors }}
                <label for="{{ login_form.username.id_for_label }}">Username:</label><br>
                {{ login_form.username }}
            </div>
            <div class="standard_form_row">
                {{ login_form.password.errors }}
                <label for="{{ login_form.password.id_for_label }}">Password:</label><br>
                {{ login_form.password }}
            </div>
            <div class="standard_form_row hard_left">
                {{ login_form.username.errors }}
                <label style="white-space: nowrap" for="{{ login_form.remember_me.id_for_label }}">Remember me:</label>
                {{ login_form.remember_me }}
            </div>
            <div class="standard_form_row">
                <button class="form_btn" type="submit"><text>Login</text></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>