// Stylus file for default/standard classes (like standard_form for flex form)

html {
  margin 0
  padding 0

  body {
    margin 0
    padding 0
  }
}

.standard_form {
  display flex
  justify-content space-evenly
  flex-direction column
}
