// Stylus file for default/standard classes (like standard_form for flex form)
@require "default_vars.styl"

a {
  color lightblue
}

html {
  margin 0
  padding 0
  background-color background-colour
  color lightslategrey

  body {
    margin 0
    padding 0
    height 100%

    .body {
      margin-left 25%
      margin-right 25%
      width 50%
    }
  }
}

.standard_form {
  display flex
  justify-content space-evenly
  flex-direction column
}
