/*==============================================================================
 =     Impact group website
 =     Copyright (C) 2019  Natasha England-Elbro
 =
 =     This program is free software: you can redistribute it and/or modify
 =     it under the terms of the GNU General Public License as published by
 =     the Free Software Foundation, either version 3 of the License, or
 =     (at your option) any later version.
 =
 =     This program is distributed in the hope that it will be useful,
 =     but WITHOUT ANY WARRANTY; without even the implied warranty of
 =     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 =     GNU General Public License for more details.
 =
 =     You should have received a copy of the GNU General Public License
 =     along with this program.  If not, see <https://www.gnu.org/licenses/>.
 =============================================================================*/

// Stylus file for standard variables (like background-colour)
background-colour = #eeeef1 // Black/Dark grey
light-grey = rgb(60, 60, 60) // Light grey colour
pink-colour = #cb31bc
dark-violet = #6041a7
violet-colour = #8b45d6
foreground-colour = #393933
button-background = #3C6478
button-foreground = #c7cabf
edible-blue = #AACCFF
dark-edible-blue = #384873
link-colour = #2A61FF
tilliumn-silver = #c4b9b9

