// FAQ Stylus file
@require "../../../../static/css/defaults.styl"


table {
  row-gap 20px
}
th {
  padding-top 15px
  padding-bottom 15px
  text-align left
  vertical-align left
  border-bottom 1px solid lightslategrey
}

h3 {
  color edible-blue
}