<!-- Header bar include START -->
<script>
    function home_clicked() {
        document.location = "{% url "impact_website-homepage" %}";
    }
    function member_portal() {
        document.location = "";
    }
    function whats_on() {

    }
    function who_are_we() {
        document.location = "{% url "impact_website-about-us" %}";
    }
    function find_us() {

    }
</script>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/header_bar.css" %}"/>
<div class="header_bar_container">
    <div>
        <h3 class="header_text">Impact LGBTQ+</h3>
    </div>
    <div class="header_bar_inner">
        <div class="header_left">
            <button class="standard_btn" onclick="home_clicked()">Home</button>
            <button class="standard_btn" onclick="who_are_we()">Who are we</button>
            <button class="standard_btn" onclick="find_us()">Find us</button>
        </div>
        <div class="header_right">
            <button class="standard_btn" onclick="whats_on()">Whats on</button>
            <button class="standard_btn" onclick="member_portal()">Member portal</button>
        </div>
    </div>
</div>


<!-- Header bar include END -->
