{% extends "base/base_page.html" %}
{% block title %}Whats on - Impact LGBTQ+{% endblock %}
{% load static %}
{% block stylesheet_path %}{% static "posting/css/post_styling.css" %}{% endblock %}
{% block body %}
    <h2>Whats on</h2>
    <hr>
    <div class="whats_on_container" style="margin-top: 50px">
        <div class="whats_on_grid">
            {% for post in posts %}
                <div class="whats_on_cell">
                    {% include "posting/posts/post.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}