{% extends "base/base_page.html" %}
{% block title %}Impact Cookie Policy{% endblock %}

{% block body %}
<h2 class="title_text">Cookie policy</h2>
<p>
    We try and collect as little data as possible about you because we value your privacy. We do have to use
    <i>some</i> cookies however, and in the interests of transparency, all the data we collect and what we use it for
    is listed below
</p>

<div>
    <h3>Cookies</h3>
    <dl class="row">
        <dt>CSTF Token</dt>
        <dd>This is a cookie which we use in order to protect against cross-site scripting attacks. It ensures
            logging into the site is secure.</dd>
    </dl>
</div>

{% endblock %}