<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "impact_website/css/faq.css" %}" />
</head>
<body>
<div class="header">
    {% include "includes/header_bar.html" %}
</div>
<div class="body">
    <h2 class="title_text">FAQ - Some common questions about being LGBTQ+ and the community</h2>
    <div>
        <h3>What does the LGBTQIA acronym stand for?</h3>
        <table>
            <tr>
                <th>Lesbian:</th>
                <th>A woman who has romantic and/or sexual attraction towards women.</th>
            </tr>
            <tr>
                <th>Gay:</th>
                <th>A man who has romantic and/or sexual attraction towards men.</th>
            </tr>
            <tr>
                <th>Bisexual:</th>
                <th>An umbrella term used to describe a person with a romantic and/or sexual attraction to more than one
                    gender.</th>
            </tr>
            <tr>
                <th>Trans:</th>
                <th>An umbrella term used to describe people whose gender is not the same as, does not
                    sit comfortably with, the sex they
                    were assigned at birth. This can be within the binary genders of male or female, or away from which would
                    make them non-binary.</th>
            </tr>
            <tr>
                <th>Queer/Questioning:</th>
                <th>Queer is a term used by those wanting to reject specific labels of sexuality and gender.
                    Questioning is the process of exploring your sexuality and/or gender</th>
            </tr>
            <tr>
                <th>Intersex:</th>
                <th>A term used to describe a person who may not have the biological attributes of how society views
                    male or female.</th>
            </tr>
            <tr>
                <th>Ace:</th>
                <th>An umbrella term used to describe a variation in levels of romantic and/or sexual attraction,
                    including a lack of attraction. </th>
            <tr>
        </table>
        <h3>Is it a choice? </h3>
        <p>
Being trans/gay etc. is not a choice, just as being cisgender or heterosexual isn’t a choice.
        </p>

<h3>What shouldn’t I ask a transgender person?</h3>
        <ul>
            <li>You shouldn’t ask a transgender person what their pervious name was if they decide to change it as it can be
                triggering for the person.</li>
            <li>You shouldn’t ask intimate questions. It is only the business of the transgender person. </li>
            <li>Understand that the transgender person will confide in you about surgery and other issues in their own
                time, if they decide they want to. </li>
        </ul>
        <h3>What is binding? </h3>
        <p>
Binding is done by transgender people in attempt at flattening their chest, using some of the following: chest binder, tape, bandages and KT tape.
<br><br>
            Many people cannot afford the suggested methods of binding (tank chest binder) or are forbidden from doing so by family members who disagree. Therefore they resort to unsafe methods, such as tape or bandages. Unsafe methods can cause severe damage to the flesh and tissue, making future surgeries very difficult or sometimes impossible.
If you discover your child is binding unsafely, or wants to start binding, make sure you provide them with safe methods only recommended by professionals. <!-- TODO: ADD IN A LINK HERE --> TODO: SUCH AS: X
</p>

    </div>
</div>
</body>
</html>