{% extends "base/base_page.html" %}
{% block title %}Impact LGBTQ+{% endblock %}
{% load static %}
{% block body %}
    <!-- Banner -->
    <img src="{% static "images/homepage_banner.jfif" %}" alt="Impact LGBTQ+" style="width: 100%"/>
    <div class="main_body">
        <h1 class="title_text">Impact homepage</h1>
    </div>
    <div>
        <h2>This page needs more content</h2>
        <hr>
        General outline ideas
        <ul>
            <li>General summery of the about us page</li>
            <li>Sitemap</li>
            <li>Give us money (plz)</li>
            <li>General overview of some things we've done in the past (i.e pride, show, residential etc)</li>
        </ul>
    </div>
{% endblock %}