<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signposting</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/defaults.css" %}"/>
</head>
<body>
<div class="header">
    {% include "includes/header_bar.html" %}
</div>
<div class="body">
    <h1 class="title_text">Signposting</h1>
    <h3>Numbers</h3>
    <p>
        Stonewall  0800 0502020
    </p>
    <h3>Links</h3>
    <p>
        Stonewall cyrmu: <a href="https://www.stonewallcymru.org.uk/help-and-advice">
        https://www.stonewallcymru.org.uk/help-and-advice</a>
        <br>
        Umbrella cymru: <a href="https://www.umbrellacymru.co.uk/"> https://www.umbrellacymru.co.uk/ </a>
        <br>
        Childline: <a href=" https://www.childline.org.uk/"> https://www.childline.org.uk/ </a>
        <br>
        Samaritans: <a href="https://www.samaritans.org/how-we-can-help/support-and-information/">
        https://www.samaritans.org/how-we-can-help/support-and-information/</a>
        <br>
        Mermaids: <a href="https://mermaidsuk.org.uk/">https://mermaidsuk.org.uk/</a>
        <br>
        Pride Cymru: <a href="https://www.pridecymru.com/">https://www.pridecymru.com/</a>
        <br>
        FFLAG: <a href="https://www.fflag.org.uk">www.fflag.org.uk</a>
    </p>
    <!-- TODO: COMPLETE THIS PAGE. NEEDS DESCRIPTION OF EACH THING AND GENERAL OVERVIEW -->
</div>
</body>
</html>