<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who are we</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/defaults.css" %}">
</head>
<body>
<div class="header">
    {% include "includes/header_bar.html" %}
</div>
<div class="body">
    <h3>About us</h3>
    <h4>Impact is...</h4>
    <p>
Impact is an LGBTQIA+ youth group which celebrates the positives of our community and embraces individuality of all people.

We promote teamwork and group bonding  opportunities such as; camping trips, pride outings and also host a variety of drag show fundraisers.

We also offer support for people in need of counselling
    </p>
</div>
</body>
</html>